# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Binaries
./bin/*

# Object files
./obj/*

# Exodus files.
*.e
*.ex2

# Model files
*/block*
*/dRHO
*/dVPP
*/dVSV
*/dVSH

# Param files
mod/parameters.txt
mod/CEM
Makefile
